<!DOCTYPE root[<!ELEMENT Article ANY>
<!ATTLIST Article id ID #REQUIRED>
 
<!ELEMENT EventsTimelineItem ANY>
<!ATTLIST EventsTimelineItem id ID #REQUIRED>
<!ELEMENT EventsTimelinePage ANY>
<!ATTLIST EventsTimelinePage id ID #REQUIRED>
<!ELEMENT contentfolder ANY>
<!ATTLIST contentfolder id ID #REQUIRED>
<!ELEMENT ContentBlock ANY>
<!ATTLIST ContentBlock id ID #REQUIRED>
<!ELEMENT links ANY>
<!ATTLIST links id ID #REQUIRED>
<!ELEMENT mainBanner ANY>
<!ATTLIST mainBanner id ID #REQUIRED>
<!ELEMENT mediaPage ANY>
<!ATTLIST mediaPage id ID #REQUIRED>
<!ELEMENT photoGallery ANY>
<!ATTLIST photoGallery id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>

]>
<root id="-1">
  <contentfolder id="1074" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-02T18:24:24" updateDate="2015-04-02T18:39:27" nodeName="Main Menu" urlName="main-menu" path="-1,1074" isDoc="" nodeType="1058" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1053" nodeTypeAlias="contentfolder">
    <HomePage id="1075" parentID="1074" level="2" creatorID="0" sortOrder="0" createDate="2015-04-02T18:24:46" updateDate="2015-04-02T20:13:06" nodeName="HOME PAGE" urlName="home-page" path="-1,1074,1075" isDoc="" nodeType="1066" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1053" nodeTypeAlias="HomePage">
      <pageTitle><![CDATA[Home Page]]></pageTitle>
      <bodyText><![CDATA[<p>.</p>]]></bodyText>
    </HomePage>
    <HomePage id="1076" parentID="1074" level="2" creatorID="0" sortOrder="1" createDate="2015-04-02T18:25:33" updateDate="2015-04-04T17:35:24" nodeName="ABOUT US" urlName="about-us" path="-1,1074,1076" isDoc="" nodeType="1066" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1122" nodeTypeAlias="HomePage">
      <pageTitle><![CDATA[About Us]]></pageTitle>
      <bodyText><![CDATA[<p>MASTech360 for Software &amp; Technology is a professional IT provider and innovator, focuses on delivering</p>
<p>services &amp; solutions to public, commercial, telecommunications and healthcare sectors based on multiple</p>
<p>technologies. Powered by years of global experience and entrepreneur’s passion the company’s client base extends</p>
<p>throughout the US, and the Middle East. </p>
<p>MASTech360 offers range from IT consulting to solutions design and implementation,</p>
<p>Through its advanced professional services unit; MASTech360 has the ability to develop, and deploy business</p>
<p>solutions based on latest technologies.</p>
<p>MASTech360’s intelligently designs products that enable our valued clients to boost their business performance and</p>
<p>provide them with enhanced business solutions to overcome day-to-day challenges and save them time, efforts and</p>
<p>money.</p>]]></bodyText>
    </HomePage>
    <contentfolder id="1081" parentID="1074" level="2" creatorID="0" sortOrder="2" createDate="2015-04-02T19:01:53" updateDate="2015-04-04T17:00:48" nodeName="SERVICES" urlName="services" path="-1,1074,1081" isDoc="" nodeType="1058" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1055" nodeTypeAlias="contentfolder">
      <Article id="1087" parentID="1081" level="3" creatorID="0" sortOrder="6" createDate="2015-04-02T19:22:53" updateDate="2015-04-05T18:17:41" nodeName="Software Development" urlName="software-development" path="-1,1074,1081,1087" isDoc="" nodeType="1082" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1122" nodeTypeAlias="Article">
        <Article id="1088" parentID="1087" level="4" creatorID="0" sortOrder="0" createDate="2015-04-02T19:25:13" updateDate="2015-04-05T18:31:32" nodeName="Custom Software Development" urlName="custom-software-development" path="-1,1074,1081,1087,1088" isDoc="" nodeType="1082" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1122" nodeTypeAlias="Article">
          <image>1084</image>
          <bodyText><![CDATA[<div id="service_2" class="row perk">
<div class="span2 circle circle1"><img src="/media/1008/service_ico1.png?width=74&amp;height=34" alt="undefined" rel="1124" /></div>
<div class="span10 description_wrapper">
<h5>Custom Software Development</h5>
<p>At MASTech360 we have put together a strategy to completely understand your business needs and ensure software</p>
<p>development requirement are gathered in most optimal way</p>
<p>The software we develop spans web, and mobile using the best and highly mature software development stacks.</p>
<p>Maintainability, less cost overall and, modularity are the key benefits and this is achieved without troubling the outcome.</p>
<p><strong>We offer the following services under Custom Software Development</strong></p>
<ul>           
<li>Business Analysis and Requirements Gathering</li>
<li>Wire framing &amp; Prototyping</li>
<li>Design &amp; Web Development</li>
<li>Testing</li>
<li>Deployment on Cloud or Independent Servers</li>
<li>24×7 code &amp; platform support</li>
<li>Training</li>
</ul>
<p><strong>Industry Knowledge</strong></p>
<p>We have expertise in delivering high quality services to industries ranging from HealthCare, Fire Sprinkler, E-commerce, Education, and Media Publishing</p>
</div>
</div>]]></bodyText>
        </Article>
        <Article id="1125" parentID="1087" level="4" creatorID="0" sortOrder="1" createDate="2015-04-05T18:25:13" updateDate="2015-04-05T18:27:53" nodeName="Software Maintenance Services" urlName="software-maintenance-services" path="-1,1074,1081,1087,1125" isDoc="" nodeType="1082" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1053" nodeTypeAlias="Article">
          <image>1123</image>
          <bodyText><![CDATA[<div id="service_2" class="row perk">
<div class="span2 circle circle1"><img src="/media/1008/service_ico1.png?width=74&amp;height=34" alt="undefined" rel="1124" /></div>
<div class="span10 description_wrapper">
<h5>Software Maintenance Services</h5>
<p>Every company is required to have Software Support and Maintenance, to ensure that the business applications run efficiently and are error free. We offer reasonably priced and dependable after-delivery Software Support and Maintenance Services covered under stringent SLA practices. Once your solution goes live we can help you by providing the best maintenance services so that, you can focus more on your business, have faster response time to market, and better operational capabilities by reducing the number and time-span of business-critical application outages</p>
<p><strong>MASTech360 Software Maintenance Services – Highlights</strong></p>
<p> </p>
<ul>
<li>MASTech360 always checks the performance of developers. This increases work productivity and</li>
<li>decreases bugs in software.</li>
<li>Software bug fixes.</li>
<li>Ongoing Software Maintenance and Management.</li>
<li>Root-cause analysis and trouble shooting.</li>
<li>Expert team of highly qualified software developers and testers.</li>
<li>Helpdesk support</li>
</ul>
</div>
</div>]]></bodyText>
        </Article>
        <Article id="1126" parentID="1087" level="4" creatorID="0" sortOrder="2" createDate="2015-04-05T18:31:09" updateDate="2015-04-05T18:32:47" nodeName="Mobile Application Development" urlName="mobile-application-development" path="-1,1074,1081,1087,1126" isDoc="" nodeType="1082" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1053" nodeTypeAlias="Article">
          <image>1124</image>
          <bodyText><![CDATA[<div id="service_2" class="row perk">
<div class="span2 circle circle1"><img src="/media/1008/service_ico1.png?width=74&amp;height=34" alt="undefined" rel="1124" /></div>
<div class="span10 description_wrapper">
<h5>Mobile Application Development</h5>
<p>The Mobile Application Development Services we offer are for the following mobile platforms:</p>
<p> </p>
<ul>
<li>Android</li>
<li>IOS</li>
</ul>
</div>
</div>]]></bodyText>
        </Article>
        <image>1084</image>
        <bodyText><![CDATA[<p><span>There are many variations of passages of generators on the embarrassing hidden in content here making it look like.</span></p>]]></bodyText>
      </Article>
      <Article id="1090" parentID="1081" level="3" creatorID="0" sortOrder="7" createDate="2015-04-02T22:17:27" updateDate="2015-04-05T19:54:44" nodeName="Design Services" urlName="design-services" path="-1,1074,1081,1090" isDoc="" nodeType="1082" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1122" nodeTypeAlias="Article">
        <Article id="1127" parentID="1090" level="4" creatorID="0" sortOrder="0" createDate="2015-04-05T19:45:07" updateDate="2015-04-05T19:45:14" nodeName="Web Design &amp; Development" urlName="web-design-development" path="-1,1074,1081,1090,1127" isDoc="" nodeType="1082" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1053" nodeTypeAlias="Article">
          <image>1124</image>
          <bodyText><![CDATA[<div id="service_2" class="row perk">
<div class="span2 circle circle1"><img src="/media/1008/service_ico1.png?width=74&amp;height=34" alt="undefined" rel="1124" /></div>
<div class="span10 description_wrapper">
<h5>Web Design &amp; Development</h5>
<ul>          
<li>We are experienced in Web Design and Development and can create websites that captivate any viewer’s interest. Reviving corporate identity to outshine the competition is a passion of MASTech360 creative team and, the customized websites we create are very creative in terms of design and image.</li>
<li>All of the Web Design and Development projects are created from scratch using visual layout storyboarding, cross-browser compatibility, and search engine optimization. The websites we design are original and unique to the website owner with custom graphics, banners and logos all at prices significantly below the industry standard.</li>
</ul>
</div>
</div>]]></bodyText>
        </Article>
        <Article id="1128" parentID="1090" level="4" creatorID="0" sortOrder="1" createDate="2015-04-05T19:49:02" updateDate="2015-04-05T19:56:56" nodeName="Corporate Identity and Branding" urlName="corporate-identity-and-branding" path="-1,1074,1081,1090,1128" isDoc="" nodeType="1082" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1053" nodeTypeAlias="Article">
          <image>1124</image>
          <bodyText><![CDATA[<div id="service_2" class="row perk">
<div class="span2 circle circle1"><img src="/media/1008/service_ico1.png?width=74&amp;height=34" alt="undefined" rel="1124" /></div>
<div class="span10 description_wrapper">
<h5>Corporate Identity and Branding</h5>
<p>Corporate Identity is the visual aspect of your company’s overall appearance to clients and it includes corporate design, corporate communication and corporate behavior.</p>
<p>Branding is the characteristic symbol or logo that identifies and differentiates you, your company, your service or product from others.</p>
<p>To bring outstanding look, brand identity is a must. This is very important to increase retention and create loyalty relation between customer products and services a company offers.</p>
<p> </p>
<p><strong>MASTech360 Corporate Identity and Branding Services</strong></p>
<ul>          
<li>Advertising, Website Designing and Public Relations.</li>
<li>Marketing communications planning and implementation supervision.</li>
<li>Digital marketing and Brand Naming.</li>
<li>Corporate identity development (logo design, Business Cards, Catalogs, Brochures, etc.).</li>
<li>Search engine optimization (SEO) and web advertising.</li>
<li>Social media setup and implementation.</li>
<li>Content Marketing and native advertising</li>
</ul>
</div>
</div>]]></bodyText>
        </Article>
        <Article id="1129" parentID="1090" level="4" creatorID="0" sortOrder="2" createDate="2015-04-05T19:53:58" updateDate="2015-04-05T19:55:59" nodeName="Social Media Marketing" urlName="social-media-marketing" path="-1,1074,1081,1090,1129" isDoc="" nodeType="1082" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1053" nodeTypeAlias="Article">
          <image>1124</image>
          <bodyText><![CDATA[<div id="service_2" class="row perk">
<div class="span2 circle circle1"><img src="/media/1008/service_ico1.png?width=74&amp;height=34" alt="undefined" rel="1124" /></div>
<div class="span10 description_wrapper">
<h5>Social Media Marketing</h5>
<p>MASTech360 creates special Social Media Marketing campaigns that will boost your traffic and increase your brand awareness. Social Media websites has hundreds millions of users and you need experts to utilize Social Media in the best possible way. This will drive more targeted traffic to grow your business and generate revenue.</p>
<p> </p>
<p>We hire the best social media experts who work towards increasing awareness about your business through Facebook, YouTube or twitter page. We use the best online marketing strategies to attract traffic to your Social network and increase engagement on its content.</p>
<p> </p>
<p><strong>MASTech360 Social Media Marketing Process</strong></p>
<p> </p>
<p><strong>Social Media Strategy</strong> – We advise clients select the proper social networks that suit their business. We will also develop a social media content promotion strategy and schedule.</p>
<p><strong>Content Creation</strong> – We will work side by side with you to create attractive and engaging content to be share it on social network.</p>
<p><strong>Content Promotion</strong> – We will promote the content across the various social media networks and target your audience.</p>
<p><strong>Profile Management</strong> – We will make sure that social profile will be in the correct shape to draw audiences to page.</p>
<p><strong>Social Media Reporting</strong> – We will track website visitor growth rate from social media efforts, activities, social mentions, and increase in followers/Likes as time goes by to ensure that the social media marketing strategy is on course.</p>
</div>
</div>]]></bodyText>
        </Article>
        <image>1085</image>
        <bodyText><![CDATA[<p><span>There are many variations of passages of generators on the embarrassing hidden in content here making it look like.</span></p>]]></bodyText>
      </Article>
      <Article id="1091" parentID="1081" level="3" creatorID="0" sortOrder="8" createDate="2015-04-02T22:18:32" updateDate="2015-04-05T20:26:42" nodeName="Third Category" urlName="third-category" path="-1,1074,1081,1091" isDoc="" nodeType="1082" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1053" nodeTypeAlias="Article">
        <image>1086</image>
        <bodyText><![CDATA[<p><span>There are many variations of passages of generators on the embarrassing hidden in content here making it look like.</span></p>]]></bodyText>
      </Article>
    </contentfolder>
    <contentfolder id="1092" parentID="1074" level="2" creatorID="0" sortOrder="3" createDate="2015-04-02T22:25:01" updateDate="2015-04-04T17:01:02" nodeName="PRODUCTS &amp; SOLUTIONS" urlName="products-solutions" path="-1,1074,1092" isDoc="" nodeType="1058" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1055" nodeTypeAlias="contentfolder">
      <Article id="1094" parentID="1092" level="3" creatorID="0" sortOrder="1" createDate="2015-04-02T22:30:15" updateDate="2015-04-05T20:41:52" nodeName="MAS Fire Sprinkle Software" urlName="mas-fire-sprinkle-software" path="-1,1074,1092,1094" isDoc="" nodeType="1082" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1122" nodeTypeAlias="Article">
        <image>1093</image>
        <bodyText><![CDATA[<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/media/1009/logo.png?width=303px&amp;height=303px" alt="test" width="303" height="303" /></p>
<p> </p>
<p>This product is a result of hard work  collaboration and partnership between MASTech360  and Universal Fire Design, this tailor-made solution is designed and customized  specifically for companies in Fire Sprinkler services industry.</p>
<p>MAS Fire Sprinkle Software is a web based software provides  Fire Sprinkle Companies with an automated single access to manage their customers’ fire  inspection work flow.</p>
<p><strong>Software Benefits</strong></p>
<ul>
<li><strong>Increase  in sales revenue</strong></li>
<li><strong>Cost  saving</strong></li>
<li><strong>Simplifies  business flow</strong></li>
<li><strong>Enhances  productivity</strong></li>
<li><strong>Increases  customer retention and satisfaction</strong></li>
<li><strong>Eliminates  data loss</strong></li>
<li><strong>Saves  administrative staff and Inspectors time</strong></li>
<li><strong>Helps   getting organized with Customers’  listing, planning and scheduling</strong></li>
</ul>
<p>MASFSS consists of more than one module. The Software allows users to load customers profile and contracts, financial data, and schedule customer’s inspections. The Software allows users to obtain customers and inspections reports as well.</p>
<p> </p>
<p><strong>Product Specifications &amp; Features</strong></p>
<ul>
<li><strong>Customers &amp; Jobs Data Base </strong>– All inclusive customers and their attached jobs are organized in a data base with simple search in a user friendly interface to track and update customer information and current status.</li>
 
<li><strong>Contracts Management </strong>– Manage each customer contract individually, manage contract period, inspection types, customer financial records, and even renew contracts with one single click.</li>
 
<li><strong>Advanced Scheduling </strong>– Automated generation of new inspection plans, suggestion of available schedule dates to conduct inspections. Planning and scheduling turns out to be less difficult and more accurate with this component.</li>
 
<li><strong>Calendar View </strong>– View &amp; schedule inspections from a customized calendar page for your business, utilize your time efficiently and provides the user with the available schedules.</li>
 
<li><strong>Permit Management </strong>– Manage inspections that requires permits based on the county the customer is located in, and track their history. The user will never forget or neglect any open permit for such customers.</li>
 
<li><strong>Inspectors Portal</strong>–Inspectors will be able to see their scheduled visits, and update the status of the inspections once completed.</li>
 
<li><strong>Communication &amp; Notification System </strong>– Alerts for important actions done on software. Receive push notification for upcoming plans or schedules, expired contract, uncompleted tasks, and opened permits. Inspection schedules followed on time, every time!</li>
 
<li><strong>Reporting System </strong>– Print out customer,  Plans, and inspection schedules reports, you almost can view all field in software with ability of sorting before printing</li>
 
<li><strong>Account Administration </strong>– Manage users privileges by assigning each user a role on pages or actions  </li>
<li><strong> Software Setup </strong>–   Customize setting and other functions in  software such as Locations, Lookups text editing, Permit setup, notification, and  alert messages.</li>
</ul>]]></bodyText>
        <summary><![CDATA[This product is a result of hard work collaboration and partnership between MASTech360 and Universal Fire Design, this tailor-made solution is designed and customized specifically for companies in Fire Sprinkler services industry.]]></summary>
      </Article>
    </contentfolder>
    <HomePage id="1079" parentID="1074" level="2" creatorID="0" sortOrder="4" createDate="2015-04-02T18:26:41" updateDate="2015-04-04T17:00:39" nodeName="PARTNERS" urlName="partners" path="-1,1074,1079" isDoc="" nodeType="1066" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1053" nodeTypeAlias="HomePage">
      <pageTitle><![CDATA[Partners]]></pageTitle>
      <bodyText><![CDATA[<p>.</p>]]></bodyText>
    </HomePage>
    <HomePage id="1080" parentID="1074" level="2" creatorID="0" sortOrder="5" createDate="2015-04-02T18:27:06" updateDate="2015-04-04T17:00:39" nodeName="CONTACT US" urlName="contact-us" path="-1,1074,1080" isDoc="" nodeType="1066" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1053" nodeTypeAlias="HomePage">
      <pageTitle><![CDATA[Contact Us]]></pageTitle>
      <bodyText><![CDATA[<p>.</p>]]></bodyText>
    </HomePage>
  </contentfolder>
  <contentfolder id="1069" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-04-02T16:57:07" updateDate="2015-04-02T16:57:07" nodeName="Main Slider" urlName="main-slider" path="-1,1069" isDoc="" nodeType="1058" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1055" nodeTypeAlias="contentfolder">
    <mainBanner id="1072" parentID="1069" level="2" creatorID="0" sortOrder="0" createDate="2015-04-02T16:59:53" updateDate="2015-04-02T16:59:53" nodeName="Slide1" urlName="slide1" path="-1,1069,1072" isDoc="" nodeType="1061" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1053" nodeTypeAlias="mainBanner">
      <Image>1071</Image>
      <link><![CDATA[#]]></link>
      <captionTitle><![CDATA[No Caption]]></captionTitle>
      <captionText><![CDATA[No Caption]]></captionText>
    </mainBanner>
    <mainBanner id="1073" parentID="1069" level="2" creatorID="0" sortOrder="1" createDate="2015-04-02T17:00:06" updateDate="2015-04-02T20:14:52" nodeName="Slide2" urlName="slide2" path="-1,1069,1073" isDoc="" nodeType="1061" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1053" nodeTypeAlias="mainBanner">
      <Image>1089</Image>
      <link><![CDATA[#]]></link>
      <captionTitle><![CDATA[No Caption]]></captionTitle>
      <captionText><![CDATA[No Caption]]></captionText>
    </mainBanner>
  </contentfolder>
  <contentfolder id="1095" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2015-04-03T16:44:35" updateDate="2015-04-03T16:44:35" nodeName="Footer" urlName="footer" path="-1,1095" isDoc="" nodeType="1058" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1055" nodeTypeAlias="contentfolder">
    <ContentBlock id="1096" parentID="1095" level="2" creatorID="0" sortOrder="1" createDate="2015-04-03T16:46:11" updateDate="2015-04-03T17:35:21" nodeName="Social" urlName="social" path="-1,1095,1096" isDoc="" nodeType="1059" creatorName="Alaa Almasri" writerName="Alaa Almasri" writerID="0" template="1051" nodeTypeAlias="ContentBlock">
      <bodyText><![CDATA[<div class="row credits">
    <div class="span12">
        <div class="row social">
            <div class="span12">
                <a href="#" class="facebook">
                    <span class="socialicons ico1"></span>
                    <span class="socialicons_h ico1h"></span>
                </a>
                <a href="#" class="gplus">
                    <span class="socialicons ico3"></span>
                    <span class="socialicons_h ico3h"></span>
                </a>
            </div>
        </div>
<div class="row copyright">
<div class="span12">
                            © 2015 MAS360. All rights reserved.
                        </div>
</div>
    </div>

</div>]]></bodyText>
    </ContentBlock>
  </contentfolder>
</root>