@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,500italic,500,700italic,900,900italic);
$fontFamily: 'Roboto', sans-serif;
$background: white;
$color1: #67bbbe;
$color2: #2a2c2c;
$textColor1: #4c4c4c;
$textColor2: #67bbbe;
$textColor3: white;
$fontSize: 14px;
$alternativeBackground: #67bbbe;
$footerColor: darken($textColor3,30);

html {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $textColor1;
    background-color: $background;
}
:focus{outline:none !important}
.animationTweek, .wow {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    perspective: 1000px;
    transform: translate3d(0px,0,0);
    -webkit-transform: translate3d(0px,0,0);
}

.clear {
    &:after {
        display: block;
        clear: both;
        content: '';
    }
}

.transition {
    transition: background .2s,color .2s;
}

a {
    text-decoration: none;
    transition: color .2s,background .2s;

    &:hover {
        text-decoration: none;
    }
}

@mixin placeholder($placeHolderColor) {
    &::-webkit-input-placeholder {
        color: $placeHolderColor;
    }

    &:-moz-placeholder {
        color: $placeHolderColor;
    }

    &::-moz-placeholder {
        color: $placeHolderColor;
    }

    &:-ms-input-placeholder {
        color: $placeHolderColor;
    }
}

.locked {
    overflow: hidden;
}

.slimFontLeft {
    transform: scaleX(.85);
    transform-origin: left;
}

.slimFontCenter {
    transform: scaleX(.85);
    transform-origin: center;
}

@mixin slimFont($origin) {
    transform: scaleX(.85);
    transform-origin: $origin;
}

.absoluteCenter {
    position: absolute;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.absoluteCenterVertical {
    position: absolute;
    top: 0;
    margin: auto;
    bottom: 0;
}

.scaleOnClick {
    transition: transform .2s;

    &:active, &:focus {
        transform: scale(.95,.95);
    }
}

.backgroundTrans {
    transition: background .3s;
}

.home-search-header {
    border-top: 30px solid $color1;
    margin-bottom: 35px;

    div {
        font-size: $fontSize*2;
        padding: 20px 0 10px;
        width: 50%;
        margin: -30px auto 0;
        background: $color1;
        color: $textColor3;
        text-align: center;
        text-transform: uppercase;
        @extend .slimFontCenter;
        border-radius: 0 0 60px 60px;
    }
}

.home-search {
    width: 798px;
    margin: 0 auto 40px;
}

.home-search-options {
    margin-bottom: 24px;
    @extend .clear;

    .item {
        float: left;
        padding: 15px 20px 10px;
        border-bottom: 1px solid $color1;
        transition: background .2s;
        cursor: pointer;
        text-align: center;

        span {
            display: block;
            text-align: center;
            transition: color .2s,transform .2s;
        }

        .glyphicon, .fa {
            font-size: 25px;
            margin-bottom: 7px;
            color: rgba($textColor1,.5);
        }

        .title {
            color: $textColor1;
            text-transform: uppercase;
        }

        &.active, &:hover {
            background: $color1;

            .glyphicon, .fa, .title {
                color: $background;
            }
        }

        &:active span {
            transform: scale(.8,.8);
        }
    }
}

.home-search-input {
    width: 100%;
    font-size: $fontSize*1.5;
    border: 1px solid darken($background,10);
    clear: both;
    display: block;
    @extend .clear;
    background: darken($background,4);

    select {
        background: $color1;
        color: $textColor3;
        padding: 10px 25px;
        border: 0;
        text-transform: uppercase;
        float: left;
    }

    input {
        background:none;
        padding: 11px 25px;
        border: 0;
        float: left;
        width: 585px;
    }

    button {
        float: right;
        background: $textColor1;
        padding: 11px 15px;
        border: 0px;
        width: 52px;
        @extend .transition;

        span {
            color: darken($background,4);
            font-size: $fontSize*1.5;
            transition: font-size .1s;
        }

        &:hover {
            background: $color1;
        }

        &:active {
            span {
                font-size: $fontSize*1.2;
            }
        }
    }
}

.invest-section {
    background: $color1;
    padding: 0px;

    .main-image {
        width: 100%;
        position: relative;
    }

    .main-image-small {
        display: none;
    }

    > div {
        width: 50%;
        color: $textColor3;
        padding: 30px;
        position: relative;
        z-index: 1;
    }

    .left-side {
        font-weight: lighter;
        float: left;

        h1 {
            margin: 0px 0 30px;
            font-size: $fontSize*2.57;
            font-weight: lighter;
        }

        p {
            font-size: $fontSize+4;
            padding-bottom: 30px;
        }

        .read-more {
            border: 1px solid $textColor3;
            padding: 7px 25px;
            color: $textColor3;

            &:hover {
                background: $textColor3;
                color: $color1;
            }
        }
    }

    .right-side {
        float: right;

        .highlighted-section {
            width: 60%;
            margin: -190px 0 30px;
            background: rgba($color1,.77);

            h1 {
                @extend .slimFontLeft;
                font-size: $fontSize*3;
                text-transform: uppercase;
                margin: 0px;
                padding: 16px 20px;
                font-weight: normal;

                span {
                    display: block;
                    font-size: $fontSize*1.7;
                }
            }

            img {
                width: 100%;
            }
        }

        .content {
            font-size: $fontSize+-2;
        }
    }
}

.newsletter {
    background: $color2;
    padding: 20px 0 40px;

    h1 {
        text-align: center;
        color: darken($textColor3,30);
        font-size: $fontSize*2;
        margin-bottom: 30px;

        span {
            padding-top: 7px;
            color: $textColor2;
            font-size: $fontSize*1.7;
            font-weight: lighter;
            display: block;
        }
    }

    .newsletter-form {
        width: 80%;
        margin: 0 auto;

        input {
            border: 0px;
            background: darken($textColor3,30);
            margin-right: 5px;
            float: left;
            padding: 8px 12px;
            color: $textColor3;
            @include placeholder(rgba($textColor3,.8));

            &[type="text"] {
                width: 35%;
            }

            &[type="email"] {
                width: 48%;
            }
        }

        button {
            padding: 8px 20px;
            float: left;
            background: $color1;
            color: $textColor3;
            text-align: center;
            border: 0px;
            width: 15%;
            @extend .transition;

            &:hover {
                background: $textColor3;
                color: $color1;
            }
        }
    }
}

.lower-section {
    background: lighten($color2,12);
}

.footer {
    color: $footerColor;
    font-size: $fontSize+-2;
    padding: 20px 0;

    .footer-logo {
        display: inline-block;
        width: 50px;
        float: left;

        img {
            max-width: 100%;
        }
    }

    .copyrights {
        display: inline-block;
        margin: 20px 0 0 10px;
    }

    .itmam {
        color: $footerColor;
        display: inline-block;
        margin-top: 2px;
        font-size: 0;
        transition: color .3s;
        clear: left;
        float: left;

        &:hover {
            color: $textColor3;
            text-decoration: none;
        }

        svg {
            fill: lighten($footerColor,10);
            transition: fill .3s;
            height: 17px;
            width: 60px;
        }

        &:hover svg {
            fill: $textColor3;
        }

        span {
            display: inline-block;
            margin: 2px 5px 0 0;
            vertical-align: top;
            font-size: $fontSize+-2;
        }
    }

    .footer-menu {
        margin: 40px 0 0 0;
        padding: 0px;
        float: right;
        list-style: none;

        li {
            float: left;
            margin-left: 20px;

            a {
                color: $footerColor;
                font-size: $fontSize+-2;
                text-transform: uppercase;
                display: block;

                &:first-child {
                    margin-left: 0px;
                }

                &:hover {
                    color: $textColor3;
                }
            }
        }
    }
}

.menu-container {
    position: absolute;
    z-index: 4;
    padding: 0px;
    width: 50%;
    float: left;
    background: #67bbbe; /* Old browsers */
    background: -moz-linear-gradient(right, rgba($color1,.7) 0%, transparent 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(right, rgba($color1,.7) 0%,transparent 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to left, rgba($color1,.7) 0%,transparent 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba($color1,.7)', endColorstr='transparent',GradientType=1 ); /* IE6-9 */
    &:after {
        display: block;
        content: '';
        height: 40px;
        width: 100%;
        position: absolute;
        bottom: -40px;
        background: #67bbbe; /* Old browsers */
        background: -moz-linear-gradient(266deg, rgba($color1,.7) 0%, transparent 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(266deg, rgba($color1,.7) 0%,transparent 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(-176deg, rgba($color1,.7) 0%,transparent 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba($color1,.7)', endColorstr='transparent',GradientType=1 ); /* IE6-9 */
    }
}

.top-menu-container {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 5;

    .home-button {
        float: left;
        background: $color1;
        padding: 11px 15px;
        @extend .backgroundTrans;
        color: $textColor3;
        font-size: $fontSize*1.5;

        &:hover {
            background: $background;
            color: $color1;
        }
    }

    .top-menu {
        float: right;

        > div, a {
            background: $color1;
            color: $textColor3;
            border-right: 1px solid rgba($textColor3,.17);
            padding: 15px 20px;
            font-size: $fontSize+-2;
            float: left;
            display: block;
            @extend .backgroundTrans;

            &:last-child {
                border: 0;
            }

            .glyphicon, .fa {
                padding-right: 10px;
            }

            &:hover {
                background: $background;
                color: $color1;
            }
        }
    }
}

.logo {
    display: block;
    width: 126px;
    margin: 25px 35px 23px 0;
    float: right;
    position: relative;
    z-index: 2;

    img {
        @extend .scaleOnClick;
        max-width: 100%;
    }
}

.menu-close {
    display: none;
}

.navbar-default {
    .navbar-nav {
        border-color: $alternativeBackground;
        list-style: none;
        width: 100%;
        float: right;

        > li {
            clear: both;
            text-align: right;
            float: right;

            > a {
                display: block;
                position: relative;
                color: $textColor3;
                padding: 3px 24px 3px 10px;
                text-transform: uppercase;
                width: 100%;
                border-bottom: 1px solid rgba($textColor3,.16);
                min-width: 145px;
                transition: background .5s;

                &:before {
                    position: absolute;
                    height: 102%;
                    background: rgba($textColor3,.34);
                    width: 14px;
                    right: 0px;
                    top: 0px;
                    content: '';
                }
            }

            &:first-child {
                > a {
                    border-top: 1px solid rgba($textColor3,.16);
                }
            }
        }

        > li > a:hover, > li.active > a {
            background: $textColor3;
            color: $color1;
            background: #67bbbe;
            background: -moz-linear-gradient(right, $textColor3 0%, transparent 100%);
            background: -webkit-linear-gradient(right, $textColor3 0%,transparent 100%);
            background: linear-gradient(to left, $textColor3 0%,transparent 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$textColor3', endColorstr='transparent',GradientType=1 );
        }
    }

    .navbar-toggle {
        border-color: transparent;

        .icon-bar {
            background-color: $background;
        }

        &:hover, &:focus {
            background-color: $background;

            .icon-bar {
                background-color: $alternativeBackground;
            }
        }
    }
}

.carousel-fade {
    .carousel-inner {
        .item {
            opacity: 0;
            transition-property: opacity;
        }

        .active {
            opacity: 1;
        }

        .active.left, .active.right {
            left: 0;
            opacity: 0;
            z-index: 1;
        }

        .next.left, .prev.right {
            opacity: 1;
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

#slider {
    .small-slide, .smaller-slide, .large-slide {
        display: none;
    }

    .item {
        background-size: cover;
        background-attachment: fixed;
    }

    .caption {
        position: absolute;
        z-index: 2;
        bottom: 0px;
        width: 100%;
        text-transform: uppercase;

        > div {
            float: left;
        }

        .left-caption {
            width: 50%;
            text-align: right;

            > div {
                width: 350px;
                color: $textColor3;
                @include slimFont(right);
                float: right;
                clear: right;
            }

            .top {
                padding: 5px 20px;
                font-size: $fontSize*3.68;
                font-weight: bold;
                background: rgba($color1,.90);
            }

            .bottom {
                padding: 8px 20px;
                font-size: $fontSize*1.5;
                background: rgba($color2,.78);
            }
        }

        .right-caption {
            margin-top: 72px;
            width: 40%;
            float: left;
            min-width: 350px;
            padding: 8px 20px;
            font-size: $fontSize*1.5;
            background: rgba($color2,.78);
            color: $color1;
            max-width:550px;
            div {
                @extend .slimFontLeft;
            }
        }
    }

    .slider-controls {
        z-index: 2;
        height: 55px;
        @extend .absoluteCenter;
    }

    .carousel-control {
        opacity: 1;
        text-shadow: none;
        transform: scaleY(1.5) translateY(-30%);
        font-size: 40px;
        height: 55px;
        width: 35px;
        @extend .absoluteCenterVertical;
        box-shadow: none;
        background: none;

        .fa, .glyphicon {
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }
}

@keyframes loading {
    0% {
        background: $color1;
    }

    50% {
        background: $background;
    }

    100% {
        background: $color1;
    }
}

.loadingAnimation {
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

@keyframes horizontalProgressBar {
    0% {
        width: 0%;
    }

    25% {
        width: 22%;
    }

    50% {
        width: 55%;
    }

    75% {
        width: 83%;
    }

    100% {
        width: 100%;
    }
}

@-webkit-keyframes horizontalProgressBar /* Safari and Chrome */
{
    0% {
        width: 0%;
    }

    25% {
        width: 22%;
    }

    50% {
        width: 55%;
    }

    75% {
        width: 83%;
    }

    100% {
        width: 100%;
    }
}

.loading {
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba($background,1);
    z-index: 9999;
    animation-name: loading;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

    * {
        @extend .animationTweek;
    }

    .loader {
        -webkit-animation-name: horizontalProgressBar;
        animation-name: horizontalProgressBar;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        background: $color1;
        height: 7px;
        left: 0;
        position: fixed;
        top: 0;
        width: 0%;
        z-index: 9999;
    }

    img {
        @extend .absoluteCenter;
        max-width:40%;
    }
}

/*==End of Regular CSS==*/
/*==============================================*/
@media only screen and (max-width: 991px) {

    .home-search-header div {
        width: 100%;
    }

    .home-search-options .item {
        padding: 15px 19px 10px;
    }

    .home-search {
        max-width: 768px;
    }

    .home-search-input input {
        width: 562px;
    }

    .invest-section > div {
        width: 100%;
        padding-bottom: 0;
    }

    .invest-section .right-side .highlighted-section {
        min-width: 258px;
        width: 40%;
    }

    .invest-section > div.left-side {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .footer .footer-menu {
        width: 100%;
        text-align: center;
        margin: 0px 0 20px 0;

        li {
            display: inline-block;
            margin: 0 10px 10px;
            float: none;
        }
    }

    .footer-left {
        width: 260px;
        margin: 0 auto;
    }

    .top-menu-container .top-menu > div, .top-menu-container .top-menu a {
        padding: 10px 12px;
        font-size: $fontSize+-4;
    }

    .top-menu-container .home-button {
        padding: 7px 12px;
        font-size: $fontSize;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #slider .caption {
        width: 50%;
        right: 0px;
        top: 50% !important;

        .left-caption, .right-caption {
            width: 95%;
            float: left;
            text-align: left;
            margin-left: 2px;

            > div {
                float: left;
            }
        }

        .right-caption {
            margin-top: 1px;
        }

        .left-caption {
            > div {
                transform-origin: left;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .home-search {
        max-width: 100%;
    }

    .home-search-options {
        text-align: center;

        .item {
            float: none;
            display: inline-block;
            margin-right: -4px;

            &:last-child {
                margin-right: 0px;
            }
        }
    }

    .home-search-input input {
        width: 274px;
    }

    .lower-section {
        padding: 0px;
    }

    .newsletter .newsletter-form input[type="text"], .newsletter .newsletter-form input[type="email"] {
        width: 100%;
        margin-bottom: 7px;
    }

    .newsletter .newsletter-form button {
        width: 150px;
        margin: 0 auto;
        float: none;
        display: block;
    }

    .top-menu-container {
        display: none;
    }

    #slider {
        .small-slide {
            display: block;
        }

        .large-slide {
            display: none;
        }

        .caption {
            width: 90%;
            left: 0;
            right: 0;
            margin: auto;
            top: 52% !important;

            .left-caption, .right-caption {
                width: 100%;
                float: left;
                text-align: left;

                > div {
                    float: left;
                }
            }

            .right-caption {
                margin-top: 1px;
                font-size: $fontSize;
            }

            .left-caption {
                > div {
                    transform-origin: left;
                }

                .top {
                    font-size: $fontSize*2.92;
                }

                .bottom {
                    font-size: $fontSize+3;
                }
            }
        }

        .carousel-control {
            left: 15px;

            &.right {
                right: 15px;
                left: auto;
            }
        }
    }

    .menu-container {
        width: 100%;
    }

    .logo {
        margin: 15px auto 13px;
        width: 80px;
        float: none;
    }

    .navbar-default {
        background: rgba($color1,.9);
        padding-right: 0px;

        .navbar-nav {
            margin: 0;
            padding-right: 0px;

            li a {
                padding-right: 15px;
            }
        }

        .menu-close {
            display: block;
            background: none;
            border: 0px;
            color: $textColor3;
            position: absolute;
            left: 5px;
            top: 5px;
            z-index: 9;
        }
    }

    .menu-container:after {
        right: 0px;
        width: 50%;
    }

    .offcanvas-toggle {
        background: none;
        border: 0px;
        color: $textColor3;
        position: absolute;
        right: 10px;
        top: 9px;
        font-size: $fontSize*1.5;
        z-index: 9;
    }
}

@media only screen and (max-width: 480px) {
    .home-search-header {
        padding: 0;

        div {
            padding: 15px 0;
            font-size: $fontSize*1.5;
        }
    }

    .home-search-input {
        font-size: $fontSize+2;

        select {
            padding: 10px 0px 10px 10px;
        }

        input {
            width: 167px;
        }

        button span {
            font-size: $fontSize+3;
        }
    }

    .invest-section {
        .main-image-large {
            display: none;
        }

        .main-image-small {
            display: block;
        }

        .left-side h1 {
            font-size: $fontSize+6;
        }
    }

    .newsletter h1 {
        font-size: $fontSize+6;

        span {
            font-size: $fontSize+4;
        }
    }

    #slider {
        .small-slide {
            display: none;
        }

        .smaller-slide {
            display: block;
        }

        .caption .left-caption > div {
            max-width: 275px;
        }

        .caption .right-caption {
            min-width: 280px;
        }
    }
}
