/*--------------------------------------------------------------

---------------------------------------------------------------*/
/* macbook size */
@media (max-width: 1649px) {
	.swiper-container {
	    height: auto;
	}
}
/* Large display */
@media (max-width: 1370px) {
	.slide-desc{
	    max-width: 700px;
	}
}
/* Full width desktop */
@media (min-width: 1169px) {
	.custom-width-lg {
	  width: 20%;
	}
}
@media (min-width: 992px) and (max-width: 1169px) {
	h3, .title {
	  font-size: 25px;
	  font-weight: 700;
	  line-height: 22px;
	}
	h4, .semi-title, .semi-title a {
	  font-size: 17px;
	}
	.box-styleitem .info-box{
		margin-bottom: 30px;
	}
	.video-slider {
	  height: auto;
	}
	.custom-width-lg {
	    width: 20%;
	}
	.tab-group-vertical li a{
		font-family: "Poppins",sans-serif;
	}
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.container-fluid {
	  width: 750px;
	}
	/* header */
	.header-bottom{
		position: relative;
		-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}
	.logo-hover-box {
		left: 0;
		right: 0;
		margin: auto;
	}
	.logo-hover-box::before {
	  left: 50%;
	  -webkit-transform: translateX(-50%);
	  -ms-transform: translateX(-50%);
	  transform: translateX(-50%);
	}
	.header-bottom.static-header.visible-header {
	  top: 0;
	}
	.page-broadcom{float: left;overflow: hidden;width: 100%;}
	.slider-bottom-fix {margin-bottom: 0;top: 0;}
	.three-column{
		width: 620px;
	}
	.single-banner{
		width: 100%;
		float: left;
	}
	.slider-section{
		top: 0;
	}
	.video-slider {
	  height: auto;
	}
	.logo{
		text-align: center;
	}
	.main-menu ul {
	  text-align: center;
	}
	nav li .parent-angle{
		display: none;
	}
	/* Slider */
	h1, .title-h1 {
	  font-size: 45px;
	}
	h1, .title-h1 span {
	  font-size: 45px;
	}
	.subtitle{
		font-size: 30px;
	}
	.services-list .info-box.mt-60{
		margin-top: 0;
	}
	.services-list .info-box {
	  margin-bottom: 50px;
	}
	.info-box-style-1 .info-box-desc{
		text-align: center;
	}
	/* portfolio */
	.portfolio-item {
	  margin-bottom: 30px;
	  text-align: center;
	}
	.mixitup-content .custom-width-lg.mix:nth-last-child(1) .portfolio-item{
	  margin-bottom: 0;
	}	
	.portfolio-col-3 .mix:nth-last-child(1) .portfolio-item{
	  margin-bottom: 0;
	}
	.portfolio-col-3 .mix:nth-last-child(2) .portfolio-item,
	.portfolio-col-3 .mix:nth-last-child(3) .portfolio-item{
		margin-bottom: 40px;
	}
	.portfolio-col-4 .mix:nth-last-child(1) .portfolio-item,
	.portfolio-col-4 .mix:nth-last-child(2) .portfolio-item{
	  margin-bottom: 0;
	}
	.portfolio-col-4 .mix:nth-last-child(3) .portfolio-item,
	.portfolio-col-4 .mix:nth-last-child(4) .portfolio-item{
		margin-bottom: 30px;
	}
	.portfolio-img img {
	  width: 100%;
	}
	.aboutintro-img {
	  margin-bottom: 50px;
	}
	.info-box-style-4{
		text-align: center;
	}
	.aboutintro-img img{
		margin: auto;
	}
	.info-box.info-box-style-3{
		margin-bottom: 100px;
	}
	.info-box.info-box-style-4{
		margin-bottom: 40px;
	}
	div[class*="col-"]:nth-last-child(1) .info-box.info-box-style-3,
	div[class*="col-"]:nth-last-child(2) .info-box.info-box-style-3,
	div[class*="col-"]:nth-last-child(1) .info-box.info-box-style-2,
	div[class*="col-"]:nth-last-child(2) .info-box.info-box-style-2{
	  margin-bottom: 0;
	}
	.services-list div[class*="col-"]:nth-last-child(1) .info-box.info-box-style-4,
	.services-list div[class*="col-"]:nth-last-child(2) .info-box.info-box-style-4,
	.box-styleitem div[class*="col-"]:nth-last-child(1) .info-box.info-box-style-4,
	.box-styleitem div[class*="col-"]:nth-last-child(2) .info-box.info-box-style-4{
		margin-bottom: 0;
	}
	.counter-item {
	  margin-bottom: 50px;
	  text-align: center;
	}
	div[class*="col-"]:nth-last-child(1) .counter-item,
	div[class*="col-"]:nth-last-child(2) .counter-item{
	  margin-bottom: 0;
	}
	/* testimonial */
	.testimonial-section {
	  padding-left: 3%;
	  padding-right: 3%;
	}
	.testimonial-client-des {
	  margin: auto;
	  overflow: hidden;
	  width: 200px;
	}
	/* blog */
	.post-img img{width: 100%;}
	.post-wrapper {
	  margin-bottom: 35px;
	}
	.blog-post-section div[class*="col-"]:last-child .post-wrapper{
	  margin-bottom: 0;
	}
	/* footer */
	.footer-widget {
	  margin-bottom: 60px;
	}
	.fotoer-top div[class*="col-"]:nth-last-child(1) .footer-widget,
	.fotoer-top div[class*="col-"]:nth-last-child(2) .footer-widget{
		margin-bottom: 0;
	}
	.footer-widget form{
		text-align: center;
	}
	.footer-widget form button{
		margin-top: 0;
	}
	.mob-mt-50{
		margin-top: 50px;
	}
	.mob-mb-50{
		margin-bottom: 50px;
	}
	.about-theme{
		text-align: left;
	}
	.contact-list span {
	  display: inline;
	  float: inherit;
	}
	.contact-list p {
	  display: inline;
	  overflow: hidden;
	}
	.about-img img{
		width: 100%;
	}
	.textvidoe-text{
		text-align: center;
	}
	.textvidoe-section {
		text-align: center;
	}
	.res-mb-70{
		margin-bottom: 70px;
	}
	div[class*="col-"]:nth-last-child(1) .project-circular,
	div[class*="col-"]:nth-last-child(2) .project-circular{
	  margin-top: 50px;
	}
	.member-image img{
		width: 100%;
	}
	div[class*="col-"]:nth-last-child(1) .member-details,
	div[class*="col-"]:nth-last-child(2) .member-details{
	  margin-top: 30px;
	}
	.portfolio-meta{margin-bottom: 50px;}
	.related-portfolio.mixitup-content .mix:nth-child(3){
		display: none !important;
	}
	.related-portfolio.mixitup-content .portfolio-item{
		margin-bottom: 0;
	}
	.blog-sidebar {
	  margin-top: 50px;
	}
	.info-box-style-5 {
	  margin-bottom: 40px;
	}
	div[class*="col-"]:nth-last-child(1) .info-box-style-5,
	div[class*="col-"]:nth-last-child(2) .info-box-style-5{
	  margin-bottom: 0;
	}
	.partner-logo-wrapper .owl-item {
	  border-color: #dcd9d9;
	  border-style: solid;
	  border-width: 1px;
	}
	/*----------------------------------------*/
	/*  Shortcodes 
	/*----------------------------------------*/
	.breadcrumb-item a,.breadcrumb-item.active{
		font-size: 20px;
	}
	.breadcrumb > li + li:before {
		font-size: 20px;
	}
	.img-thumbnail{
		padding: 0;
		border: none;
	}
	.mob-mb-20{
		margin-bottom: 20px;
	}
	.tab-group-vertical li.active:after{
		display: none;
	}
	.instagram-feed li a img{
		width: 100%;
		height: auto;
	}
	.tab-group-vertical {
	  margin-bottom: 25px;
	}
	.intro-section .button-primary{float: right;}
	div.logo {
	  padding-bottom: 0;
	  padding-top: 40px;
	}
	.logo:hover .logo-hover-box {
	  top: 90px;
	}
	.swiper-caption-wrap {
	  transform: translateY(-50%);
	}

}
 
/* small mobile :320px. */
@media (max-width: 767px) {
	/*.container-fluid {
	  width: 300px;
	}*/
	.t2testimonial-thumb-item.slick-slide.slick-active.slick-center {
	  margin-left: 15px;
	  margin-right: 15px;
	}
	/* header */
	.header-bottom{
		position: relative;
		-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
		z-index: 999999;
	}
	.logo-hover-box {
		left: 0;
		right: 0;
		margin: auto;
	}
	.logo-hover-box::before {
	  left: 50%;
	  -webkit-transform: translateX(-50%);
	  -ms-transform: translateX(-50%);
	  transform: translateX(-50%);
	}
	.header-bottom.static-header.visible-header {
	  top: 0;
	}
	.slider-section{
		top: 0;
	}
	.single-banner .slide-desc {
	  display: none;
	}
	.single-slide-banner.ptb-110{
	  padding: 80px;
	}
	.single-banner {
	  margin-top: 92px;
	}
	.video-slider {
	  height: auto;
	}
	.mean-container .mean-nav ul li a {
	  font-size: 12px;
	}
	.mean-container .mean-nav ul li a.mean-expand {
	  padding: 7.5px !important;
	}
	.mean-container a.meanmenu-reveal{
		font-size: 32px !important;
	}
	/*.container {width:300px}*/
	.social-list {
	  margin-top: 20px;
	  text-align: center;
	}
	nav li .parent-angle{
		display: none;
	}
	.mean-container .mean-bar {
		position: absolute;
		left: 0;
		top: -30px;
		min-height: auto;
	}
	.mean-container a.meanmenu-reveal {
	  padding-right: 15px;
	  position: relative;
	  top: -30px;
	  line-height: 22px;
	  margin-top: 4px;
	}
	.logo-hover-box{display: none;}
	.mean-container .mean-bar{z-index: 9999999;}
	/* Slider */
	h1, .title-h1 {
	  font-size: 30px;
	}
	h1, .title-h1 span {
	  font-size: 30px;
	}
	.subtitle{
		font-size: 25px;
	}
	.slide-caption-wrap .title-h1 {
	  margin-bottom: 18px;
	  margin-top: 18px;
	}
	.slide-caption-wrap .slide-desc {
		display: none;
	}
	.nivo-controlNav{
		display: none;
	}
	.info-box {
	  margin-bottom: 35px;
	}
	.info-box-style-2 .info-box-top > span, 
	.info-box-style-4 .info-box-top > span{
	  display: block;
	  margin: auto auto 20px;
	}
	.info-box.info-box-style-1,
	.info-box.info-box-style-2,
	.info-box.info-box-style-3,
	.info-box.info-box-style-4{margin-top: 0;}
	.services-list div[class*="col-"]:last-child .info-box{
	  margin-bottom: 0;
	}
	.aboutintro-img {
	  margin-bottom: 50px;
	}
	.promo-section div[class*="col-"]:last-child .info-box,
	.box-styleitem div[class*="col-"]:last-child .info-box{
	  margin-bottom: 0;
	}
	.tab-group-vertical {
	  margin-bottom: 25px;
	}
	.contents {
	  text-align: center;
	}
	/* Services */
	.info-box-top {
	  text-align: center;
	}
	.info-box-desc p {
	  text-align: center;
	}
	.info-box.info-box-style-3{
		margin-bottom: 100px;
	}
	/* portfolio */
	.mixitup-nav ul li {
	  padding: 0 10px;
	  margin-bottom: 15px;
	}
	.portfolio-item {
	  margin-bottom: 40px;
	  text-align: center;
	}
	.mixitup-content div[class*="col-"]:last-child .portfolio-item{
	  margin-bottom: 0;
	}
	.portfolio-col-3 .mix:nth-last-child(2) .portfolio-item,
	.portfolio-col-3 .mix:nth-last-child(3) .portfolio-item{
		margin-bottom: 40px;
	}
	.portfolio-col-4 .mix:nth-last-child(1) .portfolio-item{
	  margin-bottom: 0;
	}
	.portfolio-col-4 .mix:nth-last-child(2) .portfolio-item,
	.portfolio-col-4 .mix:nth-last-child(3) .portfolio-item,
	.portfolio-col-4 .mix:nth-last-child(4) .portfolio-item{
		margin-bottom: 30px;
	}
	.portfolio-img img {
	  width: 100%;
	}
	.mixitup-content .mix {
	  margin: auto;
	  width: 100% !important;
	}
	.price-table-wrapper,.price-table-wrapper-style2 {
	  margin-bottom: 35px;
	}
	.pricing-table-section div[class*="col-"]:last-child .price-table-wrapper,
	.pricing-table-section div[class*="col-"]:last-child .price-table-wrapper-style2 {
	  margin-bottom: 0;
	}
	.counter-item {
	  margin-bottom: 50px;
	  text-align: center;
	}
	div[class*="col-"]:nth-last-child(1) .counter-item{
	  margin-bottom: 0;
	}
	/* testimonial */
	.testimonial-section {
	  padding-left: 3%;
	  padding-right: 3%;
	}
	.partner-logo-wrapper .owl-item {
	  border-color: #dcd9d9;
	  border-style: solid;
	  border-width: 1px;
	}
	/* blog */
	.post-img img{width: 100%;}
	.post-wrapper {
	  margin-bottom: 35px;
	}
	.blog-post-section div[class*="col-"]:last-child .post-wrapper{
	  margin-bottom: 0;
	}
	/* footer */
	.footer-widget {
	  margin-bottom: 60px;
	}
	.fotoer-top div[class*="col-"]:last-child .footer-widget{
	  margin-bottom: 0;
	}
	.footer-widget form{
		text-align: center;
	}
	.footer-widget form button{
		margin-top: 0;
	}
	.about-theme{
		text-align: left;
	}
	.instagram-feed li a img{
		width: 100%;
		height: auto;
	}
	.contact-list span {
	  display: inline;
	  float: inherit;
	}
	.contact-list p {
	  display: inline;
	  overflow: hidden;
	}
	h3, .title {
	  font-size: 25px;
	  font-weight: 700;
	  line-height: 35px;
	}
	.footer-copyright > p {
	  text-align: center;
	}
	.mob-mt-50{
		margin-top: 50px;
	}
	.mob-mb-50{
		margin-bottom: 50px;
	}
	.about-img img{
		width: 100%;
	}		
	.project-circular {
	  margin-bottom: 50px;
	}
	div[class*="col-"]:last-child .project-circular{
	  margin-bottom: 0;
	}
	.member-image img{
		width: 100%;
	}
	.member-details{
		margin-bottom: 40px;
	}
	div[class*="col-"]:last-child .member-details{
	  margin-bottom: 0;
	}
	.portfolio-meta{margin-bottom: 50px;}
	.blog-sidebar {
	  margin-top: 50px;
	}
	div[class*="col-"]:nth-last-child(1) .info-box-style-5{
	  margin-bottom: 0;
	}
	.breadcrumb-item a,.breadcrumb-item.active{
		font-size: 12px;
		font-weight: normal;
	}
	.breadcrumb > li + li:before {
		font-size: 12px;
		font-weight: normal;
	}
	.broadcom-bg.ptb-110{
		padding: 60px 0;
	}
	/* tab */
	.tab-group-vertical li.active:after{
		display: none;
	}
	.mob-mb-20{
		margin-bottom: 20px;
	}
	.page-404 .search-fld404{
		width: 100%;
		margin-bottom: 8px;
	}
	.search-btn{
		margin-bottom: 30px;
	}
	.section-title{text-align: center;}
	div .section-title.title-divider:after{
	  right: 0;
	  left: 0;
	  top: 100%;
	}
	div .section-title.title-divider:before{
	  right: 0;
	  left: 0;
	  top: 100%;
	}
	.mb-75{
		margin-bottom: 50px;
	}
	.swiper-caption-wrap {
	  transform: translateY(-50%);
	}
	.mean-container a.meanmenu-reveal {
	  padding-right: 15px;
	}
	.post-share-wrap .social-share-icon{text-align: left;}
	.social-list{margin-top: 12px;}
	.page-broadcom{float: left;overflow: hidden;width: 100%;}
	.slider-bottom-fix {margin-bottom: 0;top: 0;}
	.mixitup-nav ul li{display: block;}
	.mixitup-nav ul li:last-child{margin-bottom: 0;}
	/* Button */
	.button-primary {
	  font-size: 13px;
	  line-height: 32px;
	  padding: 0 10px;
	}
}

/* small mobile :320px. */
@media (max-width: 478px) {
	.db-mobile{
		display: block;
	}
	.header-top-left {
	  text-align: center;
	}
	/* slider */
	h1, .title-h1 {
	  font-size: 20px;
	}
	h1, .title-h1 span {
	  font-size: 20px;
	}
	.slide-caption-wrap .title-h1 {
	  margin-bottom: 10px;
	  margin-top: 10px;
	}
	
	.testimonial-slide-image.slick-center img {
	  display: block;
	  margin-left: -15px;
	}
	.testimonial-slide-image img{
		display: none;
	}
	.post-info-left{
		width: 150px;
	}
	.subtitle {
	  font-size: 17px;
	}
	.slide-caption-wrap .title-h1{font-size: 15px;}
	.swiper-container-horizontal > .swiper-pagination{display: none;}
	.single-slide-banner .owl-controls {
	  display: none;
	}
	.title-404 {
	    font-size: 140px;
	}
}
 
/* Large Mobile :480px. */
/*@media only screen and (min-width: 480px) and (max-width: 767px) {
.container,.container-fluid {width:450px}
 
}*/

@media only screen and (max-width: 767px) {

    .container{width:100%;padding:0 20px; }
    .about-img {
        margin-top:0px;
    }
    .about-img  .popup-img {
        margin-top: -5%;
    margin-bottom: -10%;
    }
}
@media only screen and (max-width: 350px) {
    .owl-prev, .owl-next{
        top:5%;
    }
    .blog-carousel  .btn,.blog-carousel p{font-size:12px;}
     .blog-carousel p{line-height:18px;}
    .blog-carousel .semi-title a {
    font-size: 20px;
}
}