.restaurant-cards {
    > .item {
        margin-bottom: 20px;
        cursor: pointer;

        .wrapper {
            background-color: #fff;
            border: 1px solid $border-color-dark;
            border-radius: 20px;
            position: relative;
            padding: 0;
            overflow: hidden;
            height: 100%;
        }



        .icon-line {
            display: flex;
            align-items: center;
            margin-bottom: 6px;

            &:last-child {
                margin-bottom: 0;
            }

            > img {
                margin-right: 5px;
                flex-shrink: 0;
            }
        }

        .crd-footer {
            background-color: $bg;
            padding: 9px 12px;
        }

        .logo-container {
            padding-top: 37%;
            position: relative;
            background: #fff;

            .logo {
                max-width: 70%;
                max-height: 70%;
                @extend .absolute-center;
            }

            .action-btn {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 10px;
                right: 10px;
                border: 0;
                padding: 0;
                box-shadow: 0;
                @extend .click-effect;
            }

            .branch-name {
                color: #fff;
                position: absolute;
                left: 8px;
                bottom: 7px;
            }
        }
    }
}

// Popup tabs [most of it from bootstrap css]
.tab-content {
    width: 100%;
}

.nav-pills {
    width: 100%;
    display: flex;
    border-bottom: 1px solid $border-color-dark;

    > li {
        flex-grow: 100;
        text-align: center;


        a.nav-link {
            background: transparent;
            border-radius: 0;
            color: $text-color;

            &:hover, &.active, &:active {
                color: $brandColor;
                background: none;
            }

            &.active, &:active {
                border-bottom: 3px solid $brandColor;
            }
        }
    }
}

.top-right-10 {
    position: absolute;
    top: 10px;
    right: 10px;
}

.top-left-10 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.z-index-1 {
    z-index: 1;
}

.address-map {
    height: 100%;
    min-height: 240px;
}

.actions-list-parent {
    cursor: pointer;
    position: relative;

    > img {
        transition: opacity.3s;
    }

    &:active, &:hover, &:focus {
        > img {
            opacity: .8;
        }
    }
}

.actions-list {
    display: none;
    position: absolute;
    border: 1px solid $border-color-dark;
    border-radius: 5px;
    top: 50px;
    left: -1px;
    background: #fff;
    width: 150px;
    z-index: 2;

    &.top-right {
        right: 10px;
        width: auto;
        min-width: 100px;
        top: 2px;
        left: initial;
    }

    > .item {
        padding: 4px 7px;
        border-bottom: 1px solid $border-color-dark;
        display: flex;
        align-items: center;
        color: $text-color;

        &:hover {
            color: $brandColor;
        }

        > img {
            width: 16px;
            margin-right: 6px;
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}

.complain-pop {
    display: none;
    position: absolute;
    width: 200px;
    border-radius: 6px;
    background: #9b9b9b;
    padding: 10px 12px;
    color: #fff;
    z-index: 2;
    left: 0;
    top: 40px;
}

.see-details.active {
    text-decoration: underline;
    /*&:before {
        width: 100%;
        height: 100%;
        background: $brandColorLight;
        border-radius:5px;
        content:"";
    }*/
}

.branch-cards .item {
    cursor: pointer;
    transition: opacity .3s;

    &:hover {
        opacity: .6;
    }
}

.item-offline {
    .wrapper:before {
        content: "";
        @extend .absolute-fill;
        background: rgba(0,0,0,.2);
        z-index: 1;
    }

    .status.offline {
        z-index: 2;
        position: relative;
        padding: 0 10px;
        background: #fff;
        border-radius: 12px;
    }
}


// Menu -> Side menu

.side-categories {
    width: 260px;

    .wrapper {
        height: 100%;
        border: 1px solid $border-color-dark;
        border-radius: 11px;
        background: #fff;

        > .search-title {
            padding: 10px 15px;
        }

        > .item {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 7px 7px 7px 15px;
            border-right: 3px solid transparent;
            transition: background .3s, border .3s;

            &:hover {
                background: $border-color;
            }

            &.active {
                border-right: 3px solid $brandColor;
                background: $border-color;
            }

            img {
                flex-shrink: 0;
                width: 23px;
                margin-right: 10px;
            }
        }
    }
}


.menu-panel {
    height: 100%;
    border: 1px solid $border-color-dark;
    border-radius: 11px;
    background: #fff;
    padding: 15px;
}


.agent-menu {
    .menu-item {
        margin-bottom: 10px;
        padding: 0 10px;

        .wrapper {
            border: 1px solid $border-color-dark;
            padding: 10px;
            display: flex;
            border-radius: 4px;
            cursor: pointer;
            transition: border .3s;
            background: #fff;
            height: 100%;
        }

        &:hover {
            .wrapper {
                border-color: $brandColor;
            }
        }

        &.active {
            .wrapper {
                border: 2px solid $brandColor;
            }
        }

        .info {
            flex-grow: 100;
            padding: 0 7px;

            .title {
                line-height: 16px;
                margin-bottom: 3px;
            }

            .desc {
                font-size: 13px;
                line-height: 16px;
            }
        }



        .item-img {
            width: 60px;
            height: 51px;
            border-radius: 5px;
            @extend .cover-image;
        }

        .price-qty {
            width: 86px;
            min-width: 86px;

            .price {
                text-align: right;

                img {
                    margin-top: -3px;
                }
            }

            .form-group-qty {
                width: 75px;
                margin-bottom: 5px;

                > input {
                    width: 24px;
                }
            }
        }
    }
}

.search-title {
    .search-icon {
        cursor: pointer;
    }

    .form-group {
        transition: all .3s;

        .form-control {
            padding: 0;
        }
    }

    .title-text, .form-group {
        width: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
        margin-bottom: 0;
    }

    .visible {
        width: auto;
        height: auto;
        visibility: visible;
        opacity: 1;
    }
}

.attr-list {
    height: 100%;
    border-right: 2px solid #d8d8d8;

    .form-group.active {
        background: $bg;
        border-right: 2px solid $brandColor;
        margin-right: -2px;

        &:before {
            width: 7px;
            content: "";
            background: $bg;
            height: 100%;
            position: absolute;
            left: -7px;
            top: 0;
        }
    }

    .form-check {
        margin-bottom: 0;

        .form-check-input {
            margin-right: 0px;
            margin-top: 7px;
            width: 14px;
            height: 14px;
        }

        > label {
            cursor: pointer;

            &:after {
                width: 7px;
                height: 7px;
                left: 3.5px;
                top: 10.5px;
            }

            > span {
                padding-left: 0;
            }
        }
    }

    .attr-alert {
        z-index: 1;
        position: relative;
        cursor: pointer;
        margin-top: -25px;
    }

    .attr-alert-pop {
        position: absolute;
        right: 0;
        top: 24px;
        padding: 2px 5px;
        background: gray;
        border-radius: 7px;
        color: #fff;
        transform: translateX(25%);
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s,visibility .3s;

        &.visible {
            opacity: 1;
            visibility: visible;
        }
    }
}

// Cart
.cart-container {
    background: #f8f8f8;
    border-radius: 15px;
    padding: 20px 12px;
    position: relative;

    &:before {
        position: absolute;
        content: "";
        border: 1px solid $text-color;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        left: 10px;
        top: 10px;
    }
}

.restaurant-items {
    .items-wrapper {
        position: relative;
        padding-left: 16px;
        padding-top: 5px;

        &:before {
            content: "";
            height: 100%;
            width: 1px;
            background: $text-color;
            position: absolute;
            left: 12px;
            top: 0;
        }

        &:after {
            content: "";
            height: 8px;
            width: 8px;
            background: $text-color;
            position: absolute;
            left: 8px;
            bottom: 0;
            border-radius: 50%;
        }
    }

    .res-info {
        display: flex;
        align-items: center;
        background: #fff;
        border-radius: 15px;
        width: fit-content;

        .res-logo {
            width: 100px;
            height: 25px;
            text-align: center;
            background: #fff;
            border-radius: 8px;
            border: 1px solid $text-color;
            border-radius: 16px;
            padding: 0 10px;

            > img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

.cart-options {
    padding-top: 29px;

    .form-group .form-control {
        height: 30px;
    }
}

.icon-options-list {
    display: flex;
    align-items: center;
    border: $text-color 1px solid;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 5px;
    margin-bottom: 7px;
    flex-wrap:wrap;
    .form-check {
        margin-bottom: 0;
        display: inline-flex;

        .form-check-input {
            margin-right: 0px;
            margin-top: 7px;
            width: 14px;
            height: 14px;
        }

        > label {
            cursor: pointer;

            &:after {
                width: 7px;
                height: 7px;
                left: 3.5px;
                top: 10.5px;
            }

            > span {
                padding-left: 0;
            }
        }
    }
}

.cart-totals {
    .totals-item {
        margin-bottom: 10px;
    }

    .totals {
        display: flex;
        background: white;
        border-radius: 5px;
        padding: 10px 0;
        margin: 0px 0 0 32px;
    }

    .totals-bg {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#efefef+0,efefef+50,efefef+50,e6e6e6+50,e6e6e6+100 */
        background: #efefef; /* Old browsers */
        background: -moz-linear-gradient(left, #efefef 0%, #efefef 50%, #efefef 50%, #e6e6e6 50%, #e6e6e6 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #efefef 0%,#efefef 50%,#efefef 50%,#e6e6e6 50%,#e6e6e6 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #efefef 0%,#efefef 50%,#efefef 50%,#e6e6e6 50%,#e6e6e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e6e6e6',GradientType=1 ); /* IE6-9 */
    }

    .res-logo {
        width: 65px;
        height: 25px;
        text-align: center;
        background: #fff;
        border-radius: 8px;
        border: 1px solid $text-color;
        border-radius: 16px;
        padding: 0 10px;
        transform: rotate( -90deg);
        position: absolute;
        left: -4px;
        top: 18.5px;

        > img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}

//branches filters
.filter-list {
    position: absolute;
    right: 15px;
    top: 50px;
    z-index: 2;
    display: none;
}

.filter-group {
    position: relative;

    > img {
        cursor: pointer;
    }
}

.filter-options {
    position: absolute;
    border: 1px solid $text-color;
    border-radius: 5px;
    top: 0;
    right: 50px;
    background: #fff;
    width: 185px;
    z-index: 2;
    display: none;

    .form-check {
        margin-bottom: 0;

        .form-check-input {
            margin-right: 0px;
            margin-top: 7.5px;
            width: 16px;
            height: 16px;
        }

        > label {
            margin-right: 0;
            cursor: pointer;

            &:after {
                width: 8px;
                height: 8px;
                left: 4px;
                top: 11.5px;
            }

            > span {
                padding-left: 0;
            }
        }
    }

    .title {
        border-bottom: 1px solid $text-color;
        padding: 4px 8px;
    }

    .item {
        padding: 0px 8px;
    }

    .items-wrapper {
        padding: 4px 0 9px;
    }
}

#pills-branch .form-group-search .form-control {
    background-position: right 3px center;
    padding-left: 0;
    padding-right: 45px
}
// profile info iside order popup
.order-info-row {
    border: 1px solid $text-color;
    height: 100%;
    border-radius: 15px;
    padding: 25px 0 15px;
}

.main-profile-info {
    display: flex;

    > .info {
        flex-grow: 100;

        > div {
            margin-bottom: 7px;
        }
    }


    .profile-pic {
        align-self: start;
        flex-shrink: 0;
        position: relative;

        > img {
            cursor: pointer;
            background: #fff;
            height: 60px;
            min-width: 60px;
            width: 60px;
            border-radius: 50%;
            @extend .cover-image;
            border: 2px solid $brandColor;
        }

        .edit-pic {
            cursor: pointer;
            position: absolute;
            right: 0;
            width: 30px;
            height: 30px;
            left: 90px;
            bottom: 8px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .icon-line {
        display: flex;
        align-items: center;
        padding-left: 15px;

        > img {
            align-self: start;
            flex-shrink: 0;
            max-width: 18px;
            margin-top: 1px;
            margin-right: 5px;
        }
    }
}

.table-row.expanded {
    background-color: #e6f3ee !important;
    border-color: #e6f3ee !important;
}

.order-history-table {
    .table-row {
        cursor: pointer;
    }

    .cart-container {
        padding: 13px 12px;
    }
}

.table-responsive {
    .totals-line {
        margin-bottom: 5px;
    }

    .agent-menu {
        .menu-item {
            margin-bottom: 5px;

            .wrapper {
                padding: 4px 8px;
            }

            .item-img {
                width: 35px;
                height: 34px;
            }
        }
    }
}

@media screen and (max-width:1199.5px) {

    .tab-content > .tab-pane {
        padding: 0 15px;
    }

    .panel-body-tabs {
        padding-top: 0 !important;
    }
}

@media screen and (max-width:991.5px) {
  

    .menu-header-items {
        flex-wrap: wrap;

        > div, > a, > button {
            margin-bottom: 7px;
        }
    }
    .cart-totals .totals{
        flex-wrap:wrap;
    }
    
}
@media screen and (max-width:767px) {
    .attr-list {
        border: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:480px) {
    .restaurant-items .items-wrapper {
        padding-left: 3px;

        &:before {
            left: 7px;
        }

        &:after {
            left: 4px;
        }
    }
}
