/* -----------------------------------

NOTE: This is Nivo Customizer style file. All nivo slider customizer related style here.

--------------------------------------*/

/*----------------------------------------*/
/*  Nivo customizer 
/*----------------------------------------*/


/* ------------------------------
  Nivo Theme
---------------------------------*/

.slider-direction {
  position: absolute;
  left:0; 
  top:0;  
  width: 100%;
  background: none;
  color: #fff;
  font-size: 16px;
  z-index: 999;
  display: none;
}
.nivo-directionNav a {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  padding: 38px 5px;
  text-align: center;
  transition: .6s;
}
.nivo-directionNav a.nivo-prevNav{
    margin-left: -35px;
}
.nivo-directionNav a.nivo-nextNav{
    margin-right: -35px;
}
.nivoSlider:hover .nivo-directionNav a{
    margin: 0;
}
.nivo-directionNav a:hover{
    background: #1293d4;
    color: #fff;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
    background:white; 
    filter:alpha(opacity=0); 
    opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
    top:0;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
    overflow:hidden;
}
.nivo-box img {
  display:block;
}
/* Slider caption */
.nivo-caption{
    background: transparent;
    color: #000;
    opacity: 1;
    display: none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
}
.nivo-caption a{
  display: inline-block !important;
}
.nivo-main-image {
    display: block !important;
    position: relative !important; 
    width: 100% !important;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
    top:0;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
    overflow:hidden;
}
.slider-content{
    display: table;
    height: 100%;
    width: 100%;
    float: left;
}
.slide-caption{
    display: table-cell;
    vertical-align: middle;
}
.slider-direction{
  display: none;
}

/* Nivo controlNav */
.nivo-controlNav {
  bottom: 10px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 99;
  padding: 0;
}
.nivo-customizer .nivo-controlNav a {
  display: inline-block;
  height:5px;
  margin: 0 5px;
  text-indent: -9999px;
  width:23px;
  line-height: 8px;
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 99;
}
.nivo-customizer .nivo-controlNav a.active {
    background: #b10739;
    cursor: pointer;
}
