@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
$background: #0c1f48;
$textColor: white;
$alternativeBackground: #000000;
$fontFamily: 'PT Sans', sans-serif;
$fontSize: 16px;
$bulletsColor: #86cff1;

html {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: white;
    background-color: $background;
}

.absoluteCenter {
    position: absolute;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.absoluteCenterVertical {
    position: absolute;
    top: 0;
    margin: auto;
    bottom: 0;
}

.header {
    padding: 50px 50px 30px 50px;
    background: url(../Images/bg-header.png) 0 0 no-repeat;
    background-size: cover;
}

.logo {
    float: left;
    max-width: 230px;

    img {
        max-width: 100%;
    }
}

.top-menu {
    float: left;
    margin: 28px 0 0 120px;
    padding: 0px;

    li {
        list-style: none;
        float: left;

        a {
            font-size: $fontSize+2;
            color: $textColor;
            text-transform: uppercase;
            padding: 0 18px;
            border-right: 1px solid $textColor;
            transition: color .3s;

            &:hover {
                color: $bulletsColor;
                text-decoration:none;
            }
        }

        &:last-child a {
            border-right: 0px solid;
        }
    }
}

.header-right {
    width: 330px;
    float: right;
    margin: 20px 0 0 0;

    .search {
        float: right;
        width: 330px;

        input[type="text"] {
            border: 0px solid;
            background: rgba($textColor,.2);
            color: white;
            width: 100%;
            height: 35px;
            padding: 0 12px;
            font-size: $fontSize+2;
        }
    }

    .social {
        float: right;
        clear: right;
        width: 100%;
        margin-top: 15px;

        span, a {
            float: left;
            margin-right: 10px;
        }

        span {
            font-weight: bold;
            font-size: $fontSize+4;
            margin: 3px 20px 0 0;
        }

        a {
            width: 33px;
            height: 33px;
            margin-right: 12px;

            img {
                width: 100%;
            }
        }
    }
}



#slider {
    max-height: 743px;
    overflow: hidden;
    background: url(../Images/slide1.png) 0 0 no-repeat;

    video {
        width: 100%;
    }
}

.overContainer {
    position: absolute;
    width: 80%;
    margin: auto;
    top: 184px;
    left: 0;
    right: 0;
}

.icons-container {
    text-align: center;
    padding-top: 80px;
    max-width: 1080px;

    .icon {
        color: white;
        text-align: center;
        width: 280px;
        height: 280px;
        margin: 7px 7px;
        line-height: 240px * 2;
        font-size: $fontSize+8;
        display: inline-block;
        position: relative;
        background: rgba($alternativeBackground,.80);
        background-size: 140px;
        cursor: pointer;
        transition: background .3s,box-shadow .3s,transform .2s;

        img, svg {
            @extend .absoluteCenter;
            width: 140px;
            top: -40px;
            transition: fill .3s;
        }

        &:hover {
            background: rgba($textColor,.80);
            text-decoration: none;
            color: $background;
            transform: scale(1.05,1.05);
            z-index: 2;
            box-shadow: 0px 0px 21px 0px black;

            img, svg path, svg rect {
                fill: $background;
            }
        }
    }

    .products {
        background-position-y: -243px;
    }

    .media {
        background-position-y: -535px;
    }

    .gallery {
        background-position-y: -827px;
    }

    .community {
        background-position-y: -1120px;
    }

    .careers {
        background-position-y: -1413px;
    }
}

.main-menu {
    margin: 0px 0 70px;
    width: 100%;
    text-align: center;
    padding: 0px;

    li {
        list-style: none;
        display: inline-block;

        a {
            font-size: $fontSize+4;
            color: $textColor;
            text-transform: capitalize;
            padding: 0 18px 0 14px;
            border-right: 1px solid $textColor;
             transition: color .3s;

            &:hover {
                color: $bulletsColor;
                text-decoration:none;
            }
        }

        &:last-child a {
            border-right: 0px solid;
        }
    }
}

h1 {
    font-size: $fontSize*2.5;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

.s_center {
    background: url(../Images/bg-center.png) no-repeat 0 0;
    background-size: cover;
    padding-top: 30px;
}

.home-history {
    ul {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 90px;
        position: relative;

        &:before {
            height: 9px;
            background: $bulletsColor;
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: -35px;
            margin: auto;
            content: '';
            border-radius: 5px;
        }

        li {
            transform: rotate(-90deg);
            display: inline-block;
            min-width: 100px;
            font-size: $fontSize+4;
            position: relative;
            cursor: pointer;
            padding-right: 50px;

            &:before, &:after {
                width: 34px;
                height: 34px;
                transform: scale(.5,.5);
                border-radius: 50%;
                content: '';
                background: $bulletsColor;
                position: absolute;
                top: 2px;
                right: -12px;
                transition: transform .3s,background .5s;
            }
        }

        li:hover:before {
            z-index: 2;
            background: $textColor;
            transform: scale(.6,.6);
        }

        li.active:before {
            background: $textColor;
            transform: scale(.8,.8);
        }

        li.active:after {
            border-width: 1px 0px 0px 1px;
            border-color: $textColor;
            border-style: solid;
            transform: scale(1.6,1.6);
            background: none;
        }
    }

    .history-content {
        font-size: $fontSize+4;
        margin-bottom: 100px;
        text-align: justify;
        padding: 0 17px;
    }
}

.home-gallery {
    overflow: hidden;

    h1 {
        margin-bottom: 50px;
    }

    .gallery-categories {
        margin-bottom: 70px;

        .gallery-category {
            display: inline-block;
            margin-right: 70px;

            h3 {
                margin: 0 0 -10px 0;
                font-size: $fontSize*2.5;
                font-weight: normal;
                text-transform: uppercase;
            }

            span {
                text-transform: uppercase;
                font-size: $fontSize+2;
            }

            &.active {
                color: $bulletsColor;
            }
        }
    }

    .dg-container {
        width: 100%;
        height: auto;
        padding-bottom: 110px;
        position: relative;
    }

    .dg-wrapper {
        width: 80%;
        max-width: 480px;
        height: 316px;
        margin: 0 auto;
        position: relative;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 1000px;
        -moz-perspective: 1000px;
        -o-perspective: 1000px;
        -ms-perspective: 1000px;
        perspective: 1000px;
    }

    .dg-wrapper a {
        width: 100%;
        height: 316px;
        display: block;
        position: absolute;
        left: 0;
        cursor: default;
        top: 0; /*	cursor:zoom-in;*/
    }

    .dg-wrapper a.dg-transition {
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .dg-wrapper a img {
        display: block;
        padding: 0px;
        max-width: 100%;
        box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
    }

    .dg-wrapper a div {
        font-style: italic;
        text-align: center;
        line-height: 50px;
        color: #333;
        font-size: 16px;
        width: 100%;
        bottom: -55px;
        display: none;
        position: absolute;
    }

    .dg-wrapper a.dg-center div {
        display: block;
    }

    .dg-container {
        nav {
            width: 100%;
            position: absolute;
            z-index: 1000;
            top: 45%;
            left: 0px;


            span {
                text-indent: -9000px;
                display: block;
                cursor: pointer;
                width: 26px;
                height: 44px;
                position: absolute;
                opacity: 0.8;
                top: 0;
                right: 0px;
                transform: translateY(-100%);
                transition: opacity .3s;
                background: url(../Images/arrows.png) no-repeat 0 0;

                &:hover {
                    opacity: 1;
                }

                &.dg-prev {
                    background-position: 0 bottom;
                    left: 0px;
                }
            }
        }
    }
}

.contact-us {
    font-size: $fontSize+6;

    span {
        display: block;
        text-align: center;
    }

    .goTop {
        height: 79px;
        width: 116px;
        display: block;
        line-height: 158px;
        background: url(../Images/top.png) no-repeat center 0;
        cursor: pointer;
        background-size: 80px;
        padding: 30px 0 0px 0;
        margin: 50px auto 70px;
        transition: transform .3s;

        &:active {
            transform: scale(.8,.8);
        }
    }
}

.copyrights {
    text-align: center;
    padding: 20px 0;
}
/*==End of Regular CSS==*/
/*==============================================*/

@media only screen and (max-width: 767px) {
    #slider .carousel-indicators {
        top: 50px;
        bottom: auto;
    }

    #slider .carousel-indicators li {
        height: 10px;
        width: 10px;
        margin: 0 0 15px 5px;
    }

    #slider .carousel-indicators li.active {
        margin: 0 0 15px 0;
        height: 20px;
        width: 20px;
    }
}

@media only screen and (max-width: 480px) {
    #slider .carousel-indicators {
        width: 100%;
        top: auto;
        bottom: 10px;
        text-align: center;
        width: 100%;
        right: 0;
    }

    #slider .carousel-indicators li {
        height: 10px;
        width: 10px;
        margin: 0 10px 5px 0;
        display: inline-block;
    }

    #slider .carousel-indicators li.active {
        margin: 0 10px 0 0;
        height: 20px;
        width: 20px;
    }

    .home-gallery {
        margin-bottom: -130px;

        .dg-container nav {
            top: 30%;
        }

        .dg-container nav span {
            width: 19px;
            height: 32px;
            background-size: 18px !important;
        }

        .dg-container nav span.dg-prev {
        }
    }
}
