@inherits umbraco.MacroEngines.DynamicNodeContext

@{
    var root = Model.NodeById(1172);
}

@foreach (var item in root.Children.Where("Visible"))
{
    string type=@item.eventType;
    string img;
<div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
        @switch (@type) {
        case "Ride":
        <img src="/Media/Images/ride.svg" alt="H.O.G.® Ride" class="ride"> break;

        case "Lunch":
        <img src="/Media/Images/dinner.svg" alt="H.O.G.® Lunch" class="dinner"> break;

        default:
        <img src="/Media/Images/event.svg" alt="H.O.G.® event" class="event"> break;
        }
    </div> <!-- cd-timeline-img -->
    <div class="cd-timeline-content">
        <h4>@Html.Raw(@item.name)</h4>
        @item.bodyText    
    <!--<a href="#0" class="cd-read-more">Read more</a>-->
        <span class="cd-date">@item.date.ToString("MMM d")</span>
    </div> <!-- cd-timeline-content -->
</div>

}
<div class="cd-timeline-block">
    <div class="cd-timeline-img cd-location bounce-in timeline-end">

    </div> <!-- cd-timeline-img -->
    <!-- cd-timeline-content -->
</div>

