@inherits umbraco.MacroEngines.DynamicNodeContext

@{
    var root = Model.NodeById(Parameter.menuParent);
}


@foreach (var item in root.Children.Where("Visible"))
{
    <a href="@item.Url" title="@item.name" target="_self">@item.name</a>
}
