@inherits umbraco.MacroEngines.DynamicNodeContext
@{
    var startNodeID = Model.NodeById(Parameter.nodeId);
}

@if (startNodeID != null)
{
    if (startNodeID.Children.Where("Visible").Any())
    {
        foreach (var item in startNodeID.Children.Where("Visible"))
        {
            
                <div class="@(item.cssClass != null ? @item.cssClass : null)">
                    @Html.Raw(@item.bodyText)
                </div>
            }
        }
    }